<%= turbo_frame_tag dom_id(plan_recipe) do %>
  <p><%= plan_recipe.recipe.name %></p>
  <%= button_to "Change Recipe",
                plan_recipe_path(plan_recipe),
                method: :patch,
                data: { turbo_frame: "plan_recipe#{plan_recipe.id}" } %>
<% end %>
