<div class="mt-0">
  <h5><%= link_to '<i class="fa-solid fa-arrow-left"></i>'.html_safe, show_recipes_path, class:"text-secondary"%></h5>
  <div class="d-flex justify-content-between mt-2 align-items-center mb-4">
    <h1 class="fs-1 text fw-bolder my-4">Choose your recipes for <%= @plan.title.downcase %>:</h1>
    <div class="mb-0">
      <%= link_to "Next", calendar_path, class:"btn btn-warning text-white rounded-pill px-3 py-1"%>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row row-cols-7 g-3" id="plan_recipes">
      <% @plan.plan_recipes.order(:id).each do |plan_recipe| %>
        <div class="col col-custom-7">
          <%= render "plan_recipes/plan_recipe", plan_recipe: plan_recipe %>
        </div>
      <% end %>
    </div>
  </div>
</div>
