// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors:
$dark-green: #1D492B;
$green: #255D37;
$ligth-green: #34834D;

$dark-orange: #B86200;
$orange: #F48200;
$light-orange: #FF961F;

$gray: #A8AE9B;

$dutch-white: #F1E0B7;
$parchment: #FAEFD6;
$latte: #FFF9E9; // website background
$floral-white: #FEFAF1; // cards backgorund

@mixin gradient {
  background: linear-gradient(90deg, #CCC4A8 0%, #F0ECE0 100%);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
