.recipes-list{
  background-color: $parchment;
  border-radius: 3px;
  width: 300px;
  height: 86vh;
}

.recipes-list a{
  background-color: $floral-white;
  color: $green;
}


.show-recipes {
  margin-left: 300px;
  width: 135vh;
}

.show-recipes h2 {
  font-size: 28px;
  color: $orange;
  width: 300px;
}

.comprimento p{
  font-size: 20px;
  line-height: 1;
  width: 300px;
}

.border-top-orange{
  border-top: 1px solid $orange;
}

.border-bottom-orange{
  border-bottom: 1px solid $orange;
}

.border-right-orange{
  border-right: 1px solid $orange;
}

.comprimento{
  max-width: 300px;
}

.orange{
  color: $orange;
}

.dark-green{
  color: $dark-green;
}

#highlight {
  background-color: #F4C152;
  border-radius: 3px;
}
