#msform {
  text-align: center;
  position: sticky;
  margin-top: 30px;
  background: rgb(255, 255, 255);
  border: 0 none;
  border-radius: 0px;
  box-shadow: 2px 2px;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin-left: auto;
}

.questions {
  display: flex;
  justify-content: center;
}

.each-answer {
  width: 700px;
  border: 2px solid #eaeaea;
  margin: 10px;
  border-radius: 50px;
  padding: 17px;
  background-color: #eaeaea;
  font-size: 20px;
}

// .each-answer input {
//   display: none;
// }


.active-selected {
  background-color: #DBE6DB!important;
  //color: $light-gray;
}


input[type="radio"] + label.ms2 {
  margin-left: 0.8em; /* Adjust as needed */
}


#new_survey {
  display: flex;
  flex-direction: column;
  align-items: center
}


.rounded-button {
  border-radius: 50px 0 0 50px;
}

.rounded-button-last {
  border-radius: 0 50px 50px 0;
}

.button_bigger {
  font-size: 20px;
  margin-left: 11px;
  margin-right: 11px;
}

.prog_bar {
  font-size: 20px;
}

.button_finish {
  font-size: 20px;
}

.font-max {
  font-size: 20px;
}

radio_buttons {
  font-size: 20px;
}

.font-bigger {
  font-size: 20px;
}

.button-sized {
  font-size: 20px;
}

.text-decoration {
  text-decoration: none;
  color: white;
}

.display_buttons {
  display: flex;
  justify-content: center;
}

.box-size {
  width: 370px;
}

.changed-box {
  width: 370px;
  align-items: center;
}


.align-center {
  display: flex;
  justify-content: center;
}

.buttons_final_step {
  display: flex;
  justify-content: center;
  margin-top: -7px;
  margin-right: 10px;
}

.container_animation {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.item {
  width: 100px;
  height: 100px;
  position: absolute;
}

.item-1 {
  background-color: #D6780B;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-2 {
  background-color: #336A25;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-3 {
  background-color: #277467;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

.item-4 {
  background-color: #65481C;
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
}

@keyframes item-1_move {
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(0, 100px)}
  50% {transform: translate(100px, 100px)}
  75% {transform: translate(100px, 0)}
}

@keyframes item-2_move {
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(-100px, 0)}
  50% {transform: translate(-100px, 100px)}
  75% {transform: translate(0, 100px)}
}

@keyframes item-3_move {
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(0, -100px)}
  50% {transform: translate(-100px, -100px)}
  75% {transform: translate(-100px, 0)}
}

@keyframes item-4_move {
  0%, 100% {transform: translate(0, 0)}
  25% {transform: translate(100px, 0)}
  50% {transform: translate(100px, -100px)}
  75% {transform: translate(0, -100px)}
}

.letters-animation {
  color: #174A0F;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-top: 420px;
}
