<footer>
  <h2 class="m-0">PlatePal</h2>

  <div class="d-flex justify-content-between mb-3 footer-body">
    <div>
      <span class="d-inline-block">ADDRESS</span>
      <p>RUA DO CENTRO CULTURAL 45, 1700-006 LISBOA</p>
      <span class="d-inline-block">PHONE</span>
      <p>+351 926 142 424</p>
    </div>

    <div>
      <span class="d-inline-block">GENERAL ENQUIRIES</span>
      <p>HELLO@PLATEPAL.COM</p>
      <span class="d-inline-block">SUPPORT</span>
      <p>SUPPORT@PLATEPAL.COM</p>
    </div>

    <div>
      <span class="d-inline-block">Receive our latest news.</span>
      <form class="d-flex flex-row justify-content-between pb-1 footer-form">
        <input
          type="text"
          class="border-0 flex-grow-1"
          placeholder="Email Address"
          required
        />
        <button class="border-0">SUBSCRIBE <i class="fa-solid fa-arrow-right"></i></button>
      </form>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center footer-bottom">
    <div class="d-flex justify-content-center gap-3">
      <i class="fa-brands fa-github-alt fa-lg"></i>
      <i class="fa-brands fa-facebook-f fa-lg"></i>
      <i class="fa-brands fa-linkedin-in fa-lg"></i>
      <i class="fa-brands fa-instagram fa-lg"></i>
    </div>
    <span class="d-block m-0">COPYRIGHT &copy 2024 PlatePal. ALL RIGHTS RESERVED.</span>
  </div>
</footer>
