<section class="hero d-flex flex-wrap justify-content-between align-items-center gap-5">
  <div class="d-flex flex-column justify-content-around w-50 h-100">
    <h1 class="m-0">SMART PLANNING<br>BETTER EATING</h1>
    <p class="m-0">Explore our healthy meal planner based on your preferences. You can create a weekly plan to include any recipe.</p>
    <%= link_to "Start now", surveys_path, class:"orange-button text-decoration-none w-25 "%>


    <div class ="d-flex">
      <div class="align-self-start d-flex justify-content-start align-items-end gap-5 me-3">
        <div class="d-flex flex-column justify-content-between border rounded-5 m-1 p-1 bg-info shadow"
            style="width: 14rem; height: 19rem; background-color: floral-white;">
          <div class="p-2 d-flex flex-column align-items-center">
              <img src="https://cdn.pixabay.com/photo/2024/03/05/18/43/taco-8615083_1280.png" alt="" class= "mb-2 avatar-cards">
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex flex-column justify-content-center">
            <p class="text-center m-0 mb-3"><small><strong>Save Time</strong></small></p>
              <p class="fs-5 text-center m-0"><small> Full plan in under</small></p>
              <p class="fs-5 text-center"><small> 3 minutes</small></p>
            </div>
            <div class="p-2 border-top d-flex justify-content-center" style="height: 3rem;">
              <i class="fa-solid fa-clock fs-4"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="align-self-start d-flex justify-content-start align-items-end gap-5 me-3">
        <div class="d-flex flex-column justify-content-between border rounded-5 m-1 p-1 bg-info shadow"
            style="width: 14rem; height: 19rem; background-color: floral-white;">
          <div class="p-2 d-flex flex-column align-items-center">
              <img src="https://cdn.pixabay.com/photo/2023/08/12/02/41/ai-generated-8184587_1280.png" alt="" class= "mb-2 avatar-cards">
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex flex-column justify-content-center">
            <p class="text-center m-0 mb-3"><small><strong>Eat Healthy</strong></small></p>
              <p class="fs-5 text-center"><small> Balanced meals for the whole family</small></p>
            </div>
            <div class="p-2 border-top d-flex justify-content-center" style="height: 3rem;">
              <i class="fa-solid fa-carrot fs-4"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="align-self-start d-flex justify-content-start align-items-end gap-5 me-3">
        <div class="d-flex flex-column justify-content-between border rounded-5 m-1 p-1 bg-info shadow"
            style="width: 14rem; height: 19rem; background-color: floral-white;">
          <div class="p-2 d-flex flex-column align-items-center">
              <img src="https://cdn.pixabay.com/photo/2023/07/17/18/30/ai-generated-8133271_1280.png" alt="" class= "mb-2 avatar-cards">
          </div>
          <div class="d-flex flex-column">
            <div class="d-flex flex-column justify-content-center">
            <p class="text-center m-0 mb-3"><small><strong>Don't Compromise</strong></small></p>
              <p class="fs-5 text-center"><small> Diverse recipe options for all diets</small></p>
            </div>
            <div class="p-2 border-top d-flex justify-content-center" style="height: 3rem;">
              <i class="fa-solid fa-handshake fs-4"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%# <%= cl_image_tag "delxfxcqf56huemnnjys", class:"flex-grow-1" %>
   <%# <img src="/assets/hero-img1.jpg" alt="" class="flex-grow-1" style="width: 40vh;"> %>
    <img src="https://cdn.pixabay.com/photo/2023/07/19/23/11/ai-generated-8138069_1280.png" alt="" class="flex-grow-1" style="width: 40vh;">



</section>

<!-- Favourites section -->
<section class="we-plan">
  <div class="d-flex justify-content-center gap-5">
    <h3 class="w-50">Discover the Smart Way to Plan Your Weekly Meals</h3>
    <p class="w-50 m-0">PlatePal revolutionizes meal planning! Our platform tailors meal suggestions based on your preferences and dietary needs. Say goodbye to the stress of planning and hello to delicious, personalized meals.</p>
  </div>
</section>

<section class="banner">
  <div class="d-flex flex-column justify-content-center text-center">
    <span>Affordable</span>
    <h3>100% Free</h3>
    <p class="m-0">Enjoy the full potencial of PlatePal</p>
  </div>
</section>

<!-- Features section -->
<%# <section class="features">
  <div class="d-flex justify-content-center gap-3">
    <h2>TELL</h2>
    <h2>US</h2>
    <h2>YOUR</h2>
    <h2>PREFERENCES</h2>
  </div>

  <div class="d-flex justify-content-evenly flex-wrap gap-4 my-5">
    <div class="feature-card d-flex flex-column">
      <img src="/assets/alyson.jpg" alt="Knife" />
      <h3>Custom Preferences</h3>
      <p>Tailor your meals by selecting from a range of options.</p>
    </div>

    <div class="feature-card d-flex flex-column">
      <img src="/assets/torbjorn.jpg" alt="Calendar">
      <h3>Generate Plan</h3>
      <p>Get personalized meal plans generated by our AI, tailored to your calorie, budget, and dietary goals.</p>
    </div>

    <div class="feature-card d-flex flex-column">
      <img src="/assets/noor.jpg" alt="List">
      <h3>Save Time</h3>
      <p>Optimize your shopping list, minimize waste, and stay within budget with efficient.</p>
    </div>
  </div>

  <button class="d-block my-0 mx-auto generate-button">Start Plan</button>
</section> %>

<section class=" simplify d-flex gap-5 flex-wrap">
  <%# <img src="/assets/simplify-img1.jpg" alt="" class="flex-grow-1"> %>
  <img src="https://cdn.pixabay.com/photo/2023/07/17/18/33/ai-generated-8133282_1280.png" alt="" class="flex-grow-1">


  <div class="d-flex flex-column justify-content-around gap-3 w-50">
    <h3>Transform Your Meal Planning Experience Today</h3>
    <p>Save time while enjoying healthier meals. Our smart weekly meal planner reduces food waste by optimizing your grocery list and meal choices.</p>

    <div class="d-flex gap-5">
      <div>
        <p><strong>Save Time</strong></p>
        <p class="m-0">Spend less time planning and more time enjoying your meals.</p>
      </div>

      <div>
        <p><strong>Eat Healthier</strong></p>
        <p class="m-0">Discover balanced meals that cater to your dietary preferences.</p>
      </div>
    </div>
  </div>
</section>

<section class="banner">
  <div class="d-flex flex-column justify-content-center text-center">
    <h3>Start Your Planning Today</h3>
    <span>Join PlatePal for free and simplify your weekly meal planning effortlessly!</span>
    <button class="d-block mt-4 mx-auto dark-green-button"><%= link_to "Sign Up", new_user_registration_path, class:"text-white text-decoration-none"%> </button>
  </div>
</section>
