nav{
  padding: 30px 100px;
  font-size: 14px;
  font-weight: 500;
  max-height: 20vh;
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: 5555;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li{
  list-style-type: none;
  cursor: pointer;
}
