nav{
  padding: 12px 100px;
  font-size: 14px;
  font-weight: 500;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

li{
  list-style-type: none;
  cursor: pointer;
}
