<div class="w-50", data-turbo-frame="plan">
  <%= simple_form_for @plan do |f| %>
    <%= f.input :title %>
    <%= f.button :submit, class:"btn btn-warning my-3 text-white rounded-pill" %>
  <% end %>
</div>
