<section>
  <div>
    <%# <h1><%= @plan.title.capitalize %></h1>
    <div class="d-flex justify-content-between mt-2 align-items-center">
      <h2 class="mb-0">Drag and drop meals to rearrange your schedule!</h2>
      <%# <p class="pt-3 fs-24">Choose your recipes for your plan. You can refresh the ones you don't like!</p> %>
      <p class="mb-0">
          <%= link_to 'Done',
                      plan_plan_recipes_path(@plan),
                      class: "green-bg-button", style:"font-size: 24px;"%>
      </p>
    </div>
  </div>


    <div class="d-flex justify-content-between mt-4 px-2">
      <div class="text-center fw-bolder m-1 p-1 mb-0" style="width: 13rem;">
        <p class="mb-0">Mon</p>
      </div>
      <div class="text-center fw-bolder m-1 p-1 mb-0" style="width: 13rem;">
        <p class="mb-0">Tue</p>
      </div>
      <div class="text-center fw-bolder m-1 p-1 mb-0" style="width: 13rem;">
        <p class="mb-0">Wed</p>
      </div>
      <div class="text-center fw-bolder m-1 p-1 mb-0" style="width: 13rem;">
        <p class="mb-0">Thu</p>
      </div>
      <div class="text-center fw-bolder m-1 p-1 mb-0" style="width: 13rem;">
        <p class="mb-0">Fri</p>
      </div>
      <div class="text-center fw-bolder m-1 p-1 mb-0" style="width: 13rem;">
        <p class="mb-0">Sat</p>
      </div>
      <div class="text-center fw-bolder m-1 p-1 mb-0" style="width: 13rem;">
        <p class="mb-0">Sun</p>
      </div>
    </div>


    <div class="">
      <div class="row row-cols-7 g-3" data-controller="drag-and-drop" data-drag-and-drop-update-positions-url="<%= update_positions_plan_path(@plan) %>">
        <% @plan.plan_recipes.order(:id).each do |plan_recipe| %>
          <div class="col col-custom-7 align-center">
            <%= render "plans/calendar", plan_recipe: plan_recipe %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
</section>
