<div class="container">
  <div class="my-3">
    <h1 class="fs-1 text fw-bolder">Save your movies here:</h1>
  </div>
  <div class="container d-flex justify-content-between">
    <div>
      <h2>My plans:</h2>
      <div class="d-flex">
        <% @plans.each do |plan| %>
          <div class="card m-3" style="width: 18rem;">
          
            <div class="card-body">
              <h5 class="card-title fs-2 text fw-bolder"><%= plan.title %></h5>
              <%= link_to "See bookmarks", plan_path(plan), class:"btn btn-primary"%>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div>
      <%= link_to "Create new plan", new_plan_path, class:"btn btn-danger text-white" %>
    </div>
  </div>
</div>
