<div class="container p-0">
  <div class="">
    <h1 class="fs-1 text fw-bolder">Choose your recipes for <%= @plan.title %>:</h1>
  </div>
  <div class="container">
    <div class="d-flex flex-wrap" id="plan_recipes">
      <% @plan.plan_recipes.order(:id).each do |plan_recipe| %>
          <%= render "plan_recipes/plan_recipe", plan_recipe: plan_recipe %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center">
      <%= link_to "Done", calendar_path, class:"btn btn-warning text-white text-decoration-none " %>
    </div>
  </div>
</div>
